body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    text-align: center;
    margin: 50px auto;
    max-width: 40%; /* Adjusted to fit content better */
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    margin: 30px auto; /* Center the table */
    border-collapse: collapse;
    width: 100%; /* Adjusted width */
}

th, td {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid black;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align form inputs */
}

input[type="text"] {
    padding: 8px;
    width: 80%; /* Adjust width */
    font-size: 1em;
    margin-bottom: 10px; /* Add spacing between the text box and submit button */
}

input[type="submit"] {
    padding: 8px 20px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}
